@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
body {
	background: white;
	font-family: Roboto, Helvetica, sans-serif;
}
.navbar {
	background: black;
}
.navbar, .navbar-fixed-top {
	border: 0;
}
.navbar-brand {
	font-family: "Maven Pro", Helvetica, sans-serif;
}
.bs-sidebar .nav > li > a {
	color: black;
}
