[run]
branch = True
source = bundlewrap

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
